In [1]:
import pandas as pd

In [2]:
training_set=pd.read_excel('Data_Train.xlsx')
test_set=pd.read_excel('Test_set.xlsx')

In [3]:
training_set.shape

(10683, 11)

In [4]:
test_set.shape

(2671, 10)

In [5]:
training_set.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [6]:
training_set.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
dtype: object

In [8]:
training_set.Airline.nunique()

12

In [9]:
training_set.Airline.value_counts()

Jet Airways                          3849
IndiGo                               2053
Air India                            1752
Multiple carriers                    1196
SpiceJet                              818
Vistara                               479
Air Asia                              319
GoAir                                 194
Multiple carriers Premium economy      13
Jet Airways Business                    6
Vistara Premium economy                 3
Trujet                                  1
Name: Airline, dtype: int64

In [12]:
training_set.isnull().values.any()

True

In [13]:
training_set.isna().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [14]:
training_set.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price'],
      dtype='object')

In [15]:
test_set.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info'],
      dtype='object')

In [16]:
test_set.isna().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
dtype: int64

In [17]:
training_set.shape

(10683, 11)

In [18]:
training_set=training_set.dropna()

In [19]:
training_set.shape

(10682, 11)

In [21]:
training_set['Journey_Day']=pd.to_datetime(training_set.Date_of_Journey,format='%d/%m/%Y').dt.day

<ipython-input-21-2e3733facb17>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  training_set['Journey_Day']=pd.to_datetime(training_set.Date_of_Journey,format='%d/%m/%Y').dt.day

In [22]:
training_set.Journey_Day

0        24
1         1
2         9
3        12
4         1
         ..
10678     9
10679    27
10680    27
10681     1
10682     9
Name: Journey_Day, Length: 10682, dtype: int64

In [23]:
training_set['Journey_Month'] = pd.to_datetime(training_set.Date_of_Journey, format='%d/%m/%Y').dt.month

<ipython-input-23-115136b59336>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  training_set['Journey_Month'] = pd.to_datetime(training_set.Date_of_Journey, format='%d/%m/%Y').dt.month

In [24]:
training_set.Journey_Month

0        3
1        5
2        6
3        5
4        3
        ..
10678    4
10679    4
10680    4
10681    3
10682    5
Name: Journey_Month, Length: 10682, dtype: int64

In [25]:
test_set['Journey_Day'] = pd.to_datetime(test_set.Date_of_Journey, format='%d/%m/%Y').dt.day
test_set['Journey_Month'] = pd.to_datetime(test_set.Date_of_Journey, format='%d/%m/%Y').dt.month

In [26]:
test_set.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Journey_Day,Journey_Month
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info,6,6
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info,12,5
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included,21,5
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info,21,5
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info,24,6

In [27]:
training_set.drop(labels='Date_of_Journey',axis=1,inplace=True)

C:\Users\Dinesh\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [28]:
training_set.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Journey_Day,Journey_Month
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,6
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1,3

In [29]:
test_set.drop(labels = 'Date_of_Journey', axis = 1, inplace = True)

In [30]:
test_set.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Journey_Day,Journey_Month
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info,6,6
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info,12,5
2,Jet Airways,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included,21,5
3,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info,21,5
4,Air Asia,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info,24,6

In [31]:
training_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10682 entries, 0 to 10682
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Source           10682 non-null  object
 2   Destination      10682 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10682 non-null  object
 5   Arrival_Time     10682 non-null  object
 6   Duration         10682 non-null  object
 7   Total_Stops      10682 non-null  object
 8   Additional_Info  10682 non-null  object
 9   Price            10682 non-null  int64
 10  Journey_Day      10682 non-null  int64
 11  Journey_Month    10682 non-null  int64
dtypes: int64(3), object(9)
memory usage: 1.1+ MB

Transforming Duration feature

In [32]:
training_set.Duration.head()

0    2h 50m
1    7h 25m
2       19h
3    5h 25m
4    4h 45m
Name: Duration, dtype: object

In [52]:
for i in range(len(duration)):
    if len(duration[i].split())!=2:
        if 'h' in duration[i]:
            print(duration[i])

19h
23h
22h
12h
3h
5h
10h
18h
3h
24h
15h
16h
8h
14h
8h
20h
13h
16h
10h
12h
3h
11h
15h
9h
8h
3h
3h
27h
8h
3h
9h
3h
11h
3h
3h
5h
27h
26h
10h
11h
9h
4h
5h
3h
3h
16h
7h
9h
9h
24h
5h
14h
3h
11h
9h
13h
5h
3h
3h
30h
18h
8h
12h
3h
5h
14h
3h
4h
11h
8h
5h
21h
27h
20h
3h
3h
12h
11h
24h
3h
9h
11h
5h
27h
20h
8h
26h
3h
10h
28h
3h
10h
7h
8h
3h
8h
3h
26h
11h
3h
20h
47h
3h
10h
15h
13h
14h
6h
24h
11h
10h
5h
16h
15h
10h
3h
5h
14h
11h
11h
3h
22h
16h
12h
3h
26h
5h
10h
13h
8h
3h
26h
10h
12h
9h
10h
8h
3h
11h
3h
22h
8h
27h
3h
3h
3h
19h
9h
15h
3h
10h
6h
5h
3h
26h
27h
13h
5h
11h
12h
14h
20h
3h
13h
23h
9h
3h
3h
13h
15h
24h
3h
3h
27h
14h
8h
3h
8h
3h
12h
3h
25h
11h
3h
28h
8h
14h
3h
20h
20h
11h
11h
9h
13h
12h
7h
3h
12h
14h
5h
3h
3h
3h
9h
38h
3h
9h
8h
3h
14h
22h
8h
22h
3h
28h
9h
3h
8h
13h
16h
10h
8h
10h
11h
12h
23h
8h
3h
27h
3h
12h
11h
22h
8h
3h
5h
27h
5h
25h
10h
8h
8h
22h
3h
10h
20h
16h
3h
13h
20h
24h
27h
7h
18h
8h
3h
38h
12h
6h
9h
3h
3h
27h
10h
18h
15h
5h
12h
25h
12h
10h
10h
27h
3h
27h
15h
23h
13h
3h
10h
15h
6h
3h
11h
10h
18h
3h
3h
10h
26h
19h
10h
8h
34h
8h
20h
6h
13h
3h
3h
3h
12h
20h
9h
3h
16h
26h
13h
11h
3h
12h
24h
3h
8h
11h
5h
24h
14h
5h
7h
12h
11h
3h
5h
3h
3h
15h
25h
9h
9h
3h
3h
20h
27h
3h
24h
5h
15h
10h
26h
3h
3h
12h
3h
14h
26h
9h
3h
38h
23h
10h
34h
3h
26h
11h
10h
10h
8h
19h
10h
22h
5h
5h
22h
10h
18h
15h
11h
3h
3h
26h
26h
38h
3h
3h
14h
8h
3h
3h
10h
9h
3h
8h
9h
7h
8h
23h
14h
3h
11h
3h
12h
11h
9h
9h
3h
9h
5h
3h
11h
9h
3h
3h
3h
7h
38h
5h
7h
13h
11h
3h
11h
11h
12h
26h
15h
3h
5h
3h
3h
38h
8h
7h
11h
22h
12h
15h
21h
22h
27h
8h
3h
3h
25h
8h
5h
14h
11h
3h
3h
3h
15h
22h
8h
24h
3h
27h
13h
8h
13h
10h
3h
13h
7h
3h
7h
30h
3h
11h
23h
8h
8h
3h
8h
22h
13h
10h
12h
13h
28h
14h
9h
11h
3h
3h
23h
9h
13h
23h
16h
3h
5h
9h
9h
6h
3h
23h
20h
27h
10h
22h
25h
3h
7h
3h
16h
5h
11h
3h
22h
3h
11h
24h
3h
10h
3h
6h
3h
12h
9h
11h
15h
3h
11h
11h
3h
9h
3h
12h
3h
11h
3h
8h
3h
20h
8h
3h
23h
11h
6h
5h
9h
20h
9h
8h
3h
5h
19h
3h
14h
10h
10h
3h
23h
3h
3h
20h
14h
9h
15h
7h
28h
5h
10h
8h
12h
3h
6h
3h
6h
3h
9h
22h
3h
18h
9h
8h
25h
6h
9h
15h
3h
3h
3h
8h
3h
9h
3h
15h
8h
12h
9h
9h
8h
12h
19h
9h
12h
16h
3h
13h
3h
8h
16h
14h
4h
13h
30h
24h
11h
3h
14h
12h
8h
3h
9h
3h
3h
15h
11h
4h
3h
3h
7h
13h
3h
3h
16h
5h
13h
22h
13h
3h
3h
4h
5h
3h
3h
15h
5h
15h
14h
13h
3h
3h
8h
13h
23h
23h
3h
3h
5h
5h
3h
38h
15h
9h
24h
28h
10h
11h
24h
16h
22h
3h
3h
14h
11h
9h
11h
22h
9h
3h
12h
3h
3h
9h
24h
15h
3h
9h
3h
18h
12h
3h
14h
3h
3h
27h
13h
12h
12h
3h
11h
27h
20h
16h
6h
7h
3h
27h
12h
8h
27h
4h
3h
11h
27h
10h
3h
23h
3h
14h
12h
6h
3h
13h
5h
24h
8h
24h
24h
10h
23h
20h
23h
5h
3h
14h
3h
22h
3h
12h
9h
3h
3h
3h
4h
3h
22h
14h
9h
9h
18h
3h
10h
3h
15h
23h
8h
16h
5h
38h
3h
26h
9h
3h
27h
6h
26h
11h
3h
5h
5h
26h
24h
10h
3h
11h
11h
9h
5h
3h
26h
14h
26h
8h
11h
38h
3h
27h
6h
3h
8h
16h
10h
3h
8h
3h
5h
5h
3h
3h
18h
3h
6h
3h
5h
8h
5h
5h
14h
12h
11h
6h
6h
3h
12h
9h
5h
3h
26h
7h
12h
18h
23h
13h
11h
9h
3h
26h
8h
3h
38h
8h
3h
11h
18h
3h
13h
18h
8h
38h
3h
10h
3h
8h
20h
13h
3h
13h
3h
26h
25h
7h
4h
27h
9h
3h
15h
21h
5h
5h
7h
4h
13h
19h
13h
21h
5h
24h
27h
7h
3h
15h
5h
12h
14h
3h
13h
3h
11h
11h
3h
16h
12h
12h
28h
3h
3h
27h
5h
12h
6h
10h
3h
19h
6h
3h
11h
28h
3h
3h
26h
8h
8h
22h
24h
3h
24h
14h
3h
27h
20h
6h
20h
9h
9h
14h
12h
3h
26h
26h
3h
24h
22h
3h
8h
15h
3h
3h
3h
3h
10h
38h
8h
6h
25h
8h
6h
5h
3h
9h
7h
27h
9h
4h
23h
14h
3h
3h
6h
5h
13h
6h
16h
5h
25h
27h
22h
13h
3h
3h
3h
3h
8h
3h
22h
24h
9h
25h
28h
5h
14h
25h
9h
3h
13h
4h
3h
21h
23h
5h
12h
15h
7h
3h
12h
24h
3h
28h
11h
6h
3h
3h
9h
27h
5h
5h
12h
11h
28h
5h
23h
26h
11h
10h
8h
3h
3h
22h
9h
22h
3h
5h
3h
23h
10h
3h
24h
12h
24h
3h
19h
9h
3h
13h
21h
14h
26h
27h
13h
3h
10h
3h
3h
3h
3h
11h
3h
14h
3h
13h
3h
4h
20h
23h
14h
38h
15h
3h

In [53]:
for i in range(len(duration)):
    if len(duration[i].split())!=2:
        if 'm' in duration[i]:
            print(duration[i])

5m

In [37]:
len(duration)

10682

In [39]:
a='2h 50m'

In [41]:
len(a.split())

2

In [43]:
a='19h'
len(a.split())

1

In [44]:
a=a.strip()+'0m'

In [45]:
a

'19h0m'

In [97]:
duration=list(training_set.Duration)

In [98]:
for i in range(len(duration)):
    if len(duration[i].split())!=2:
        if 'h' in duration[i]:
            duration[i]=duration[i].strip() + ' 0m'
        elif 'm' in duration[i]:
            duration[i]='0h {}'.format(duration[i].strip())

In [88]:
dur_hours=[]
dur_minutes=[]

In [67]:
a.split()[0]

'19h0m'

In [68]:
a.split()[0][:-1]

'19h0'

In [76]:
duration

['2h 50m',
 '7h 25m',
 '19h',
 '5h 25m',
 '4h 45m',
 '2h 25m',
 '15h 30m',
 '21h 5m',
 '25h 30m',
 '7h 50m',
 '13h 15m',
 '2h 35m',
 '2h 15m',
 '12h 10m',
 '2h 35m',
 '26h 35m',
 '4h 30m',
 '22h 35m',
 '23h',
 '20h 35m',
 '5h 10m',
 '15h 20m',
 '2h 50m',
 '2h 55m',
 '13h 20m',
 '15h 10m',
 '5h 45m',
 '5h 55m',
 '2h 50m',
 '2h 15m',
 '2h 15m',
 '13h 25m',
 '2h 50m',
 '22h',
 '5h 30m',
 '10h 25m',
 '5h 15m',
 '2h 30m',
 '6h 15m',
 '11h 55m',
 '11h 5m',
 '8h 30m',
 '22h 5m',
 '2h 45m',
 '12h',
 '2h 50m',
 '2h 50m',
 '2h 15m',
 '16h 5m',
 '19h 55m',
 '3h 15m',
 '25h 20m',
 '2h 50m',
 '3h',
 '2h 50m',
 '16h 15m',
 '15h 5m',
 '2h 15m',
 '6h 30m',
 '25h 5m',
 '12h 25m',
 '27h 20m',
 '10h 15m',
 '10h 30m',
 '2h 15m',
 '10h 25m',
 '2h 50m',
 '1h 30m',
 '13h 20m',
 '2h 15m',
 '1h 25m',
 '26h 30m',
 '7h 20m',
 '13h 30m',
 '5h',
 '2h 45m',
 '2h 50m',
 '1h 30m',
 '19h 5m',
 '2h 15m',
 '14h 50m',
 '2h 40m',
 '22h 10m',
 '9h 35m',
 '10h',
 '21h 20m',
 '5h 25m',
 '18h 45m',
 '12h 20m',
 '18h',
 '9h 15m',
 '11h 5m',
 '17h 30m',
 '13h 20m',
 '2h 35m',
 '2h 25m',
 '2h 40m',
 '3h',
 '1h 25m',
 '16h 35m',
 '12h 20m',
 '12h 15m',
 '7h 30m',
 '24h',
 '2h 45m',
 '8h 55m',
 '7h 10m',
 '14h 30m',
 '30h 20m',
 '19h 55m',
 '15h',
 '2h 55m',
 '12h 45m',
 '10h 10m',
 '5h 55m',
 '15h 25m',
 '16h 5m',
 '10h 10m',
 '2h 40m',
 '11h 55m',
 '2h 40m',
 '1h 25m',
 '14h 5m',
 '20h 15m',
 '2h 25m',
 '23h 10m',
 '18h 10m',
 '16h',
 '2h 50m',
 '2h 20m',
 '8h',
 '16h 55m',
 '3h 10m',
 '2h 45m',
 '14h',
 '23h 50m',
 '21h 40m',
 '21h 15m',
 '2h 45m',
 '10h 50m',
 '8h',
 '8h 15m',
 '5h 25m',
 '8h 35m',
 '11h 50m',
 '27h 35m',
 '8h 25m',
 '20h 55m',
 '4h 50m',
 '8h 10m',
 '2h 20m',
 '24h 25m',
 '2h 50m',
 '12h 20m',
 '12h 15m',
 '23h 35m',
 '16h 35m',
 '2h 50m',
 '25h 45m',
 '26h 10m',
 '28h 50m',
 '2h 45m',
 '25h 15m',
 '9h 20m',
 '4h 30m',
 '15h 25m',
 '1h 30m',
 '2h 40m',
 '9h 10m',
 '2h 45m',
 '22h 35m',
 '3h 5m',
 '11h 30m',
 '9h 30m',
 '12h 10m',
 '17h 35m',
 '5h 5m',
 '25h 50m',
 '20h',
 '13h',
 '18h 25m',
 '1h 30m',
 '9h 30m',
 '16h',
 '2h 20m',
 '4h 30m',
 '5h 45m',
 '24h 10m',
 '2h 35m',
 '2h 45m',
 '4h 55m',
 '25h 35m',
 '6h 20m',
 '3h 5m',
 '18h 40m',
 '2h 15m',
 '12h 10m',
 '19h 25m',
 '2h 50m',
 '8h 25m',
 '9h 15m',
 '2h 50m',
 '3h 15m',
 '2h 50m',
 '12h 20m',
 '2h 55m',
 '9h 35m',
 '2h 35m',
 '9h 30m',
 '29h 20m',
 '2h 55m',
 '5h 15m',
 '9h 5m',
 '10h 45m',
 '4h 55m',
 '1h 30m',
 '11h 40m',
 '2h 45m',
 '2h 55m',
 '10h',
 '2h 45m',
 '10h 15m',
 '1h 25m',
 '9h 15m',
 '22h 55m',
 '28h 50m',
 '37h 25m',
 '2h 50m',
 '1h 30m',
 '1h 30m',
 '25h 40m',
 '2h 35m',
 '6h 15m',
 '17h 30m',
 '5h 45m',
 '2h 35m',
 '25h 30m',
 '13h 55m',
 '2h 55m',
 '10h 15m',
 '8h 40m',
 '5h 30m',
 '12h',
 '2h 15m',
 '2h 15m',
 '2h 50m',
 '9h 10m',
 '10h 25m',
 '2h 20m',
 '4h 30m',
 '3h 10m',
 '23h 30m',
 '27h 20m',
 '12h 35m',
 '24h 15m',
 '1h 20m',
 '2h 45m',
 '3h',
 '11h',
 '13h 30m',
 '2h 50m',
 '2h 55m',
 '2h 45m',
 '11h 15m',
 '14h 35m',
 '13h 55m',
 '14h 5m',
 '15h 5m',
 '2h 15m',
 '15h',
 '12h 55m',
 '9h',
 '12h 15m',
 '7h 40m',
 '27h 20m',
 '1h 25m',
 '1h 20m',
 '5h 30m',
 '11h 45m',
 '3h 15m',
 '24h 55m',
 '27h 20m',
 '2h 55m',
 '17h 5m',
 '2h 40m',
 '8h',
 '3h',
 '27h 35m',
 '7h 30m',
 '22h 55m',
 '8h 35m',
 '29h 55m',
 '22h 15m',
 '1h 20m',
 '2h 40m',
 '3h',
 '12h 10m',
 '2h 35m',
 '11h 45m',
 '2h 35m',
 '1h 30m',
 '2h 40m',
 '2h 35m',
 '22h 55m',
 '14h 40m',
 '15h 25m',
 '7h 15m',
 '20h 10m',
 '20h 45m',
 '2h 30m',
 '23h 50m',
 '27h',
 '5h 30m',
 '11h 50m',
 '2h 15m',
 '24h 30m',
 '2h 20m',
 '6h 30m',
 '20h 25m',
 '2h 35m',
 '2h 55m',
 '5h 35m',
 '2h 30m',
 '14h 45m',
 '12h 20m',
 '25h 30m',
 '5h 35m',
 '11h 45m',
 '2h 55m',
 '5h 40m',
 '4h 5m',
 '8h',
 '2h 45m',
 '2h 40m',
 '2h 55m',
 '15h 55m',
 '23h 10m',
 '7h 20m',
 '2h 50m',
 '7h 30m',
 '3h',
 '7h 45m',
 '25h 20m',
 '10h 25m',
 '30h 20m',
 '2h 35m',
 '9h',
 '15h 10m',
 '28h 20m',
 '3h',
 '2h 45m',
 '4h 55m',
 '2h 40m',
 '22h 10m',
 '10h 10m',
 '2h 50m',
 '4h 20m',
 '11h',
 '3h',
 '22h 35m',
 '3h 5m',
 '2h 40m',
 '2h 50m',
 '21h 5m',
 '11h 50m',
 '25h 35m',
 '15h 25m',
 '2h 25m',
 '3h 40m',
 '2h 55m',
 '3h 10m',
 '11h 50m',
 '2h 50m',
 '2h 50m',
 '1h 30m',
 '11h 30m',
 '8h 50m',
 '20h 15m',
 '20h 10m',
 '16h 5m',
 '12h 35m',
 '17h 5m',
 '3h',
 '15h 30m',
 '11h 30m',
 '2h 20m',
 '23h 45m',
 '1h 30m',
 '2h 35m',
 '24h 45m',
 '21h 35m',
 '5h 30m',
 '12h 15m',
 '8h 5m',
 '5h',
 '2h 50m',
 '6h 25m',
 '2h 20m',
 '2h 45m',
 '12h 45m',
 '15h 50m',
 '27h',
 '26h 25m',
 '2h 55m',
 '24h 50m',
 '8h 40m',
 '25h 45m',
 '2h 50m',
 '6h 15m',
 '10h 30m',
 '26h',
 '17h 5m',
 '21h 20m',
 '5h 35m',
 '2h 50m',
 '25h 50m',
 '12h 10m',
 '17h 5m',
 '8h 30m',
 '23h 5m',
 '9h 20m',
 '7h 55m',
 '1h 30m',
 '2h 50m',
 '2h 15m',
 '10h',
 '2h 35m',
 '7h 45m',
 '2h 55m',
 '26h 20m',
 '2h 40m',
 '11h',
 '19h 25m',
 '2h 55m',
 '2h 45m',
 '23h 15m',
 '9h',
 '3h 10m',
 '6h 25m',
 '8h 40m',
 '2h 50m',
 '12h 20m',
 '5h 20m',
 '4h',
 '9h 45m',
 '2h 55m',
 '26h 20m',
 '2h 15m',
 '9h 45m',
 '24h 55m',
 '11h 55m',
 '8h 20m',
 '17h 25m',
 '2h 50m',
 '7h 5m',
 '21h 15m',
 '5h',
 '2h 25m',
 '5h 15m',
 '15h 10m',
 '11h 45m',
 '3h',
 '4h 55m',
 '2h 45m',
 '2h 30m',
 '9h 45m',
 '2h 40m',
 '6h 30m',
 '5h 30m',
 '2h 40m',
 '34h 5m',
 '15h 25m',
 '9h 30m',
 '6h 5m',
 '2h 40m',
 '5h 50m',
 '2h 45m',
 '27h 20m',
 '3h',
 '5h 15m',
 '16h',
 '7h',
 '8h 40m',
 '9h',
 '2h 20m',
 '2h 20m',
 '6h 20m',
 '4h 25m',
 '2h 20m',
 '11h 5m',
 '16h 55m',
 '13h 45m',
 '25h 45m',
 '13h 55m',
 '5h 15m',
 '19h 15m',
 '7h 30m',
 '9h',
 '24h',
 '18h 10m',
 '2h 55m',
 '1h 30m',
 '21h 20m',
 '6h 15m',
 '14h 30m',
 '1h 20m',
 '12h 55m',
 '2h 25m',
 '22h 30m',
 '22h 55m',
 '5h 25m',
 '1h 25m',
 '7h 15m',
 '12h 20m',
 '20h 10m',
 '21h 15m',
 '2h 15m',
 '10h 30m',
 '14h 5m',
 '2h 50m',
 '16h 25m',
 '5h 15m',
 '13h 50m',
 '2h 15m',
 '7h 15m',
 '27h 5m',
 '27h 35m',
 '5h',
 '2h 50m',
 '2h 50m',
 '15h 20m',
 '5h 20m',
 '10h 10m',
 '27h 35m',
 '9h 35m',
 '28h 10m',
 '14h',
 '2h 35m',
 '2h 55m',
 '2h 35m',
 '4h 40m',
 '2h 30m',
 '11h 15m',
 '7h 55m',
 '8h 50m',
 '1h 25m',
 '15h 40m',
 '2h 35m',
 '2h 55m',
 '13h 25m',
 '4h 35m',
 '18h 30m',
 '2h 15m',
 '38h 15m',
 '3h 5m',
 '25h 50m',
 '3h 10m',
 '2h 50m',
 '11h 30m',
 '6h 35m',
 '27h 35m',
 '2h 35m',
 '7h 30m',
 '3h 15m',
 '9h 35m',
 '12h 30m',
 '11h 20m',
 '3h',
 '2h 35m',
 '1h 30m',
 '26h 10m',
 '4h 55m',
 '2h 45m',
 '8h 40m',
 '7h 5m',
 '2h 45m',
 '24h 50m',
 '2h 20m',
 '11h',
 '9h',
 '2h 55m',
 '3h 5m',
 '2h 35m',
 '13h',
 '1h 25m',
 '7h 35m',
 '2h 40m',
 '12h 55m',
 '29h 20m',
 '5h',
 '8h 40m',
 '3h',
 '3h',
 '2h 45m',
 '12h 10m',
 '2h 20m',
 '7h 55m',
 '29h 35m',
 '26h 55m',
 '12h 45m',
 '7h 35m',
 '2h 30m',
 '11h 45m',
 '23h 40m',
 '13h 50m',
 '12h 50m',
 '9h 50m',
 '2h 30m',
 '21h 55m',
 '26h 10m',
 '2h 55m',
 '20h 15m',
 '20h 10m',
 '10h 55m',
 '2h 30m',
 '21h 10m',
 '2h 35m',
 '20h 40m',
 '2h 50m',
 '6h 30m',
 '30h',
 '13h 10m',
 '2h 55m',
 '18h',
 '8h',
 '8h 45m',
 '12h 30m',
 '13h 20m',
 '6h 10m',
 '7h 30m',
 '19h 15m',
 '2h 35m',
 '12h',
 '3h',
 '2h 50m',
 '1h 25m',
 '23h 5m',
 '2h 50m',
 '22h 5m',
 '2h 15m',
 '5h 45m',
 '2h 50m',
 '9h 30m',
 '8h 55m',
 '17h 45m',
 '2h 50m',
 '21h 45m',
 '12h 35m',
 '1h 30m',
 '2h 15m',
 '3h 55m',
 '2h 45m',
 '7h 30m',
 '17h 20m',
 '1h 30m',
 '1h 30m',
 '30h 30m',
 '5h',
 '11h 15m',
 '2h 50m',
 '19h 5m',
 '6h 35m',
 '7h 30m',
 '2h 15m',
 '2h 45m',
 '12h 45m',
 '2h 50m',
 '26h 35m',
 '12h 55m',
 '1h 30m',
 '8h 40m',
 '14h',
 '23h 30m',
 '29h 55m',
 '22h 10m',
 '4h 50m',
 '2h 45m',
 '13h 30m',
 '13h 20m',
 '2h 20m',
 '11h 55m',
 '5h 10m',
 '11h 45m',
 '13h 50m',
 '3h',
 '6h 10m',
 '2h 20m',
 '10h 45m',
 '2h 15m',
 '2h 55m',
 '1h 30m',
 '7h 35m',
 '26h 35m',
 '4h 45m',
 '21h 25m',
 '8h 35m',
 '8h 30m',
 '2h 15m',
 '12h 40m',
 '8h 25m',
 '25h 40m',
 '2h 45m',
 '29h 20m',
 '2h 40m',
 '2h 50m',
 '2h 20m',
 '7h 15m',
 '20h 15m',
 '11h 45m',
 '2h 35m',
 '13h 30m',
 '1h 30m',
 '24h 35m',
 '20h 35m',
 '2h 50m',
 '4h 35m',
 '2h 20m',
 '11h 45m',
 '1h 30m',
 '12h 50m',
 '24h 30m',
 '11h 30m',
 '4h',
 '11h',
 '5h 25m',
 '2h 35m',
 '5h 10m',
 '10h 10m',
 '26h 55m',
 '7h 15m',
 '8h 10m',
 '2h 55m',
 '5h 15m',
 '2h 20m',
 '1h 25m',
 '4h 50m',
 '2h 20m',
 '2h 20m',
 '13h 15m',
 '19h 10m',
 '22h 40m',
 '14h 50m',
 '15h 10m',
 '7h 5m',
 '1h 25m',
 '2h 55m',
 '8h',
 '2h 45m',
 '14h 55m',
 '1h 30m',
 '16h 15m',
 '2h 50m',
 '5h',
 '22h 15m',
 '5h 30m',
 '8h 35m',
 '15h 25m',
 '21h',
 '13h 30m',
 '2h 50m',
 '6h 45m',
 '1h 30m',
 '8h 40m',
 '1h 30m',
 '2h 50m',
 '2h 35m',
 '16h 5m',
 '23h 50m',
 '27h 5m',
 '16h 15m',
 '15h 25m',
 '2h 50m',
 '8h 35m',
 '13h 50m',
 '2h 40m',
 '2h 25m',
 '3h 10m',
 '2h 55m',
 '28h 40m',
 '2h 50m',
 '2h 35m',
 '9h 40m',
 '16h 40m',
 '6h 20m',
 '27h',
 '14h 35m',
 '12h 10m',
 '7h 35m',
 '2h 20m',
 '19h 10m',
 '20h',
 '3h',
 '5h 10m',
 '2h 40m',
 '29h 35m',
 '4h 55m',
 '3h',
 '12h 30m',
 '12h 35m',
 '26h 20m',
 '13h 15m',
 '2h 50m',
 '12h 45m',
 '16h 20m',
 '2h 40m',
 '8h 15m',
 '12h',
 '2h 50m',
 '11h',
 '2h 20m',
 '13h 50m',
 '8h 10m',
 '12h 10m',
 '2h 40m',
 '2h 45m',
 '2h 50m',
 '24h',
 '3h',
 '12h 35m',
 '25h 50m',
 '2h 55m',
 '17h 5m',
 '29h 20m',
 '8h 55m',
 '3h 5m',
 '9h',
 '10h 25m',
 '16h 45m',
 '2h 45m',
 '26h 20m',
 '13h 15m',
 '10h 30m',
 '7h 35m',
 '11h',
 '2h 50m',
 '25h 45m',
 '6h 25m',
 '1h 25m',
 '20h 10m',
 '11h 55m',
 '2h 50m',
 '5h',
 '27h',
 '2h 50m',
 '1h 15m',
 '10h 15m',
 '24h 50m',
 '2h 50m',
 '20h',
 '5h 30m',
 '2h 45m',
 '6h 55m',
 '2h 45m',
 '5h 15m',
 '6h 15m',
 '2h 50m',
 '19h 25m',
 '2h 55m',
 '11h 25m',
 '14h 5m',
 '2h 45m',
 '3h 15m',
 '14h 20m',
 '12h 30m',
 '5h 20m',
 '26h 20m',
 '3h 5m',
 '1h 30m',
 '7h 5m',
 '6h 10m',
 '8h',
 '12h 5m',
 '12h 55m',
 '9h 35m',
 '15h 10m',
 '11h 40m',
 '2h 55m',
 '4h 30m',
 '2h 40m',
 '2h 30m',
 '24h 10m',
 '28h 20m',
 '1h 25m',
 '10h 10m',
 '11h 30m',
 '2h 50m',
 '13h 45m',
 '6h 25m',
 '12h 55m',
 '4h 25m',
 '13h 30m',
 '24h 5m',
 '16h 5m',
 '8h 20m',
 '3h 40m',
 '9h 30m',
 '28h 15m',
 '13h 20m',
 '17h 50m',
 '20h 20m',
 '28h 5m',
 '15h 25m',
 '12h 5m',
 '10h 20m',
 '12h 25m',
 '7h 35m',
 '2h 50m',
 '4h 35m',
 '11h 15m',
 '2h 35m',
 '26h',
 '2h 25m',
 '2h 35m',
 '14h 15m',
 '2h 35m',
 '22h 5m',
 '6h 35m',
 '8h 30m',
 '18h 45m',
 '35h 15m',
 '2h 15m',
 '2h 30m',
 '2h 20m',
 '2h 30m',
 '7h 35m',
 '35h 35m',
 '26h 30m',
 '11h 30m',
 '26h 40m',
 '3h',
 '1h 30m',
 '2h 55m',
 '14h 15m',
 '16h 55m',
 '12h 20m',
 '29h 35m',
 '20h 20m',
 '8h 25m',
 '13h 50m',
 '10h',
 '19h 25m',
 '28h',
 '2h 50m',
 '17h 20m',
 '2h 45m',
 '2h 55m',
 '13h 25m',
 '12h 55m',
 '9h 45m',
 '21h 25m',
 '15h 40m',
 '2h 20m',
 '14h 25m',
 '2h 50m',
 '6h 35m',
 '22h 10m',
 '14h 25m',
 '2h 30m',
 '23h 35m',
 '13h 5m',
 '1h 30m',
 '5h 5m',
 '1h 20m',
 '22h 55m',
 '1h 30m',
 '2h 35m',
 '37h 20m',
 '2h 50m',
 '2h 50m',
 '36h 10m',
 '9h 15m',
 '1h 25m',
 '5h 5m',
 '2h 15m',
 '15h 10m',
 '25h 55m',
 '5h 40m',
 '7h 30m',
 '17h 45m',
 '2h 20m',
 '8h 15m',
 '3h 40m',
 '5h 55m',
 '2h 30m',
 '17h 30m',
 '13h 50m',
 '2h 15m',
 '21h 35m',
 '9h 30m',
 '8h 40m',
 '10h 25m',
 '35h 5m',
 '14h 15m',
 '3h',
 '25h 50m',
 '2h 30m',
 '8h 40m',
 '10h',
 '11h 30m',
 '7h 30m',
 ...]

In [70]:
b='19h 0m'

In [71]:
b.split()[0]

'19h'

In [72]:
b.split()[0][:-1]

'19'

In [73]:
b.split()[1]

'0m'

In [74]:
b.split()[1][:-1]

'0'

In [102]:
for i in range(len(duration)):
    dur_hours.append(int(duration[i].split()[0][:-1]))
    #dur_minutes.append(int(duration[i].split()[1][:-1]))

In [103]:
duration = list(training_set['Duration'])


for i in range(len(duration)) :
    if len(duration[i].split()) != 2: 
        if 'h' in duration[i] :
            duration[i] = duration[i].strip() + ' 0m'
        elif 'm' in duration[i] :
            duration[i] = '0h {}'.format(duration[i].strip())

dur_hours = []
dur_minutes = []  

for i in range(len(duration)) :
    dur_hours.append(int(duration[i].split()[0][:-1])) 
    dur_minutes.append(int(duration[i].split()[1][:-1]))

In [105]:
dur_hours[:5]
dur_minutes[:5]

[50, 25, 0, 25, 45]

In [106]:
training_set['Duration_hours'] = dur_hours
training_set['Duration_minutes'] =dur_minutes

In [107]:
durationT = list(test_set['Duration'])

for i in range(len(durationT)) :
    if len(durationT[i].split()[0]) != 2:       
        if 'h' in durationT[i] :
            durationT[i] = durationT[i].strip() + ' 0m'
        elif 'm' in durationT[i] :
            durationT[i] = '0h {}'.format(durationT[i].strip())
            
dur_hours = []
dur_minutes = []  

for i in range(len(durationT)) :
    #print(durationT[i].split())
    dur_hours.append(int(durationT[i].split()[0][:-1]))
    if(len(durationT[i].split())>1):
        dur_minutes.append(int(durationT[i].split()[1][:-1]))
    else:
        dur_minutes.append(int(0))
  
    
test_set['Duration_hours'] = dur_hours
test_set['Duration_minutes'] = dur_minutes

test_set.drop(labels = 'Duration', axis = 1, inplace = True)

In [108]:
training_set.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Journey_Day,Journey_Month,Duration_hours,Duration_minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2,50
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,7,25
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,6,19,0
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5,5,25
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1,3,4,45

In [109]:
test_set.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Total_Stops,Additional_Info,Journey_Day,Journey_Month,Duration_hours,Duration_minutes
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,1 stop,No info,6,6,10,55
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,1 stop,No info,12,5,4,0
2,Jet Airways,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,1 stop,In-flight meal not included,21,5,23,45
3,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,1 stop,No info,21,5,13,0
4,Air Asia,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,non-stop,No info,24,6,2,50

In [112]:
training_set['Depart_Time_Hour'] = pd.to_datetime(training_set.Dep_Time).dt.hour
training_set['Depart_Time_Minutes'] = pd.to_datetime(training_set.Dep_Time).dt.minute

training_set.drop(labels = 'Dep_Time', axis = 1, inplace = True)

training_set.head()

,Airline,Source,Destination,Route,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Journey_Day,Journey_Month,Duration_hours,Duration_minutes,Depart_Time_Hour,Depart_Time_Minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2,50,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,13:15,7h 25m,2 stops,No info,7662,1,5,7,25,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,04:25 10 Jun,19h,2 stops,No info,13882,9,6,19,0,9,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,23:30,5h 25m,1 stop,No info,6218,12,5,5,25,18,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,21:35,4h 45m,1 stop,No info,13302,1,3,4,45,16,50

In [113]:
training_set['Arr_Time_Hour'] = pd.to_datetime(training_set.Arrival_Time).dt.hour
training_set['Arr_Time_Minutes'] = pd.to_datetime(training_set.Arrival_Time).dt.minute

training_set.drop(labels = 'Arrival_Time', axis = 1, inplace = True)
training_set.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Journey_Day,Journey_Month,Duration_hours,Duration_minutes,Depart_Time_Hour,Depart_Time_Minutes,Arr_Time_Hour,Arr_Time_Minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897,24,3,2,50,22,20,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,1,5,7,25,5,50,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882,9,6,19,0,9,25,4,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218,12,5,5,25,18,5,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302,1,3,4,45,16,50,21,35

In [114]:
test_set['Depart_Time_Hour'] = pd.to_datetime(test_set.Dep_Time).dt.hour
test_set['Depart_Time_Minutes'] = pd.to_datetime(test_set.Dep_Time).dt.minute


test_set.drop(labels = 'Dep_Time', axis = 1, inplace = True)
test_set.head()

,Airline,Source,Destination,Route,Arrival_Time,Total_Stops,Additional_Info,Journey_Day,Journey_Month,Duration_hours,Duration_minutes,Depart_Time_Hour,Depart_Time_Minutes
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,04:25 07 Jun,1 stop,No info,6,6,10,55,17,30
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,10:20,1 stop,No info,12,5,4,0,6,20
2,Jet Airways,Delhi,Cochin,DEL → BOM → COK,19:00 22 May,1 stop,In-flight meal not included,21,5,23,45,19,15
3,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,21:00,1 stop,No info,21,5,13,0,8,0
4,Air Asia,Banglore,Delhi,BLR → DEL,02:45 25 Jun,non-stop,No info,24,6,2,50,23,55

In [115]:
test_set['Arr_Time_Hour'] = pd.to_datetime(test_set.Arrival_Time).dt.hour
test_set['Arr_Time_Minutes'] = pd.to_datetime(test_set.Arrival_Time).dt.minute

test_set.drop(labels = 'Arrival_Time', axis = 1, inplace = True)
test_set.head()

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Journey_Day,Journey_Month,Duration_hours,Duration_minutes,Depart_Time_Hour,Depart_Time_Minutes,Arr_Time_Hour,Arr_Time_Minutes
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,1 stop,No info,6,6,10,55,17,30,4,25
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,1 stop,No info,12,5,4,0,6,20,10,20
2,Jet Airways,Delhi,Cochin,DEL → BOM → COK,1 stop,In-flight meal not included,21,5,23,45,19,15,19,0
3,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,1 stop,No info,21,5,13,0,8,0,21,0
4,Air Asia,Banglore,Delhi,BLR → DEL,non-stop,No info,24,6,2,50,23,55,2,45